html, body {
	height: 100%;
}

body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.content {
	-webkit-box-flex: 1;
}

.navbar-inner {
	border-radius: 0
}

.dropdown-menu a[disabled] {
	color: #CCC;
}

.dropdown-menu li > a[disabled]:hover {
	background: #FFF;
	color: #CCC;
	cursor: default;
}
.breadcrumb {
	margin-bottom: 0;
	border-radius: 0;
}